@media (min-width: 64em) {
  .about-bg-container {
    height: 100vh;
  }
  .about-bg {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .about-bg-desktop {
    display: block;
    visibility: visible;
    opacity: 1;

    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .about-header-container {
    position: fixed;
    top: 55%;
    left: 75%;

    transform: rotate(-90deg);
  }

  .about-header {
    color: #fff;
    font-size: 9.6rem;
  }

  .outer-bg {
    background-color: #e2e2e2;
    width: 100%;
  }

  .about-content-container {
    padding: 8rem 4.8rem;
    max-width: 144rem;
    margin: 0 auto;
  }

  .top-txt-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5.6rem;
  }

  .top-header {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .top-header-desktop {
    display: flex;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    align-self: center;
  }

  .top-header-desktop span {
    color: #000;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
  }
  .top-header-desktop span:first-child {
    font-size: 4rem;
  }

  .top-header-desktop span:nth-child(2),
  .top-header-desktop span:last-child {
    font-size: 6.4rem;
  }

  .first-para {
    font-size: 1.6rem;
    line-height: 3.2rem;
    max-width: 42rem;
  }

  .para-img-container,
  .cert-container-outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
  }

  .txt-container {
    align-self: end;
  }

  .vision-content,
  .mission-content {
    max-width: 42rem;
  }
}

@media (min-width: 90em) {
  .img-container {
    height: 48rem;
  }

  .content-header {
    padding-bottom: 1.6rem;
  }

  .vision-content {
    max-width: 56rem;
  }

  .mission-content {
    max-width: 54rem;
  }

  .standard-content {
    max-width: 60rem;
  }

  .content {
    font-size: 1.6rem;
  }

  .about-header-container {
    top: 46%;
    left: 75%;

    transform: rotate(-90deg);
  }

  .about-header {
    color: #fff;
    font-size: 8.8vw;
  }

  .first-para {
    max-width: 46.8rem;
  }
}
