.main-content-container {
  padding: 2rem 2.4rem 8rem 2.4rem;
}

.products-header {
  text-align: center;
  font-size: 4.4rem;
  padding-bottom: 3.2rem;
}

.products-container-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 23.2rem);
  column-gap: 1.6rem;
  row-gap: 1.6rem;

  margin: 0 auto;
  justify-content: center;
  max-width: 44rem;
}

.products-container-wrap-en {
  grid-template-rows: repeat(2, 22rem);
}

.product-container {
  height: 100%;
  width: 100%;

  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 2rem;
}

.product-img-container {
  height: 15.2rem;
  width: 100%;
  margin-bottom: 0.4rem;
}

.product-img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0px 0px;
  object-fit: cover;
}

.product-txt {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  padding-left: 1.4rem;
}

.product-cat {
  font-family: "Manrope", sans-serif;
  color: #000;
  font-size: 1.6rem;
}

.product-cat-th {
  font-family: "Noto Sans Thai", sans-serif;
  color: #000;
  font-size: 0.8rem;
}

.more {
  font-family: "Manrope", sans-serif;
  color: #767676;
  font-size: 0.8rem;
  padding-top: 0.8rem;
}

/* Each Product */

.header-each-products-container {
  padding-bottom: 3.2rem;
}

.each-products-header {
  font-size: 4.4rem;
}

.each-product-header-th {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 1.6rem;
}

.each-products-container-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 25.2rem;
  column-gap: 1.6rem;
  row-gap: 1.6rem;

  margin: 0 auto;
  justify-content: center;
  max-width: 44rem;
}

.baby-gen,
.baby-oil {
  max-width: 9.6rem;
}

.baby-mois {
  max-width: 13.6rem;
}

/* Each Product Page */
.each-product-img-container {
  width: 100vw;
  height: 42rem;
}

.each-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bread-container-each-product {
  margin-top: 2rem;
}

.main-content-each-container {
  margin: 3.2rem auto 5.6rem auto;
  padding: 0 2.4rem;
  max-width: 43.2rem;
}

.each-product-header-each-container {
  margin-bottom: 3.6rem;
}

.each-product-header-each {
  font-size: 3.6rem;
}

.each-product-header-each-th {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 2rem;
}

.tab-container {
  width: 50%;
  margin: 0 auto;
}

.tab-header {
  display: flex;
  justify-content: flex-start;
}

.tab-link {
  background-color: rgba(242, 242, 242, 0.6);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px 4px 0px 0px;
  transition: background-color 0.3s;

  color: #2f539a;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem; /* 133.333% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #f2f2f2;
}

.tab-content {
  display: none;
  padding: 3.2rem 1.6rem;
  border-top: none;

  border-radius: 0px 4px 4px 4px;
  background: #f2f2f2;
}

.tab-content p {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.tab-content.active {
  display: block;
}

.each-product-img-container-desktop {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* Body Care */

.one-row {
  height: 4.4rem;
}

.width-144px {
  max-width: 14rem;
}

.width-100px {
  max-width: 10rem;
}

.coconut-gen-1440px {
  display: none;
  visibility: hidden;
  opacity: 0;
}
