p {
  color: #000;
  font-family: "Sukhumvit Set";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}

.btn,
.btn p {
  font-family: "Sukhumvit Set";
  text-decoration: none;
}

.hero-main-container,
.aboutus-section,
.products-section {
  background-color: #e2e2e2;
}

.headline-container {
  display: flex;
  padding: 1.2rem 1.6rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 2.4rem;
  background: #fff;

  margin-bottom: 1.6rem;
}

.headline {
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/******** Hero Section *************/
.hero-bg-container {
  width: 100%;
  height: 36rem;
  z-index: -1;
  position: fixed;
  /* position: -webkit-sticky; */
  top: 0;
}

.hero-bg {
  width: 100%;
  /* height: 150%; */
  object-fit: cover;
  /* bottom: 18rem; */
  position: relative;
  overflow-y: hidden;
}

.hero-main-container {
  margin: 32rem 0 0 0;
  padding: 3.2rem 2.4rem 0 2.4rem;
}

.hero-txt-container {
  margin: 0 auto;
  padding-bottom: 3.2rem;
}

.hero-header {
  text-align: center;
  padding-bottom: 1.6rem;
}

.hero-txt {
  color: #0d0d0d;
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 200;
  line-height: 24px; /* 150% */

  max-width: 30.6rem;
  text-align: center;
  margin: 0 auto;
}

.hero-btn-container {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.btn-border,
.btn-fill {
  display: flex;
  width: 112px;
  height: 40px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50rem;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  color: #000;
}

.btn-border {
  background: none;
  border: 1px solid #000;
}

.btn-fill {
  background: #f2f2f2;
}

/******** About Us Section *************/

.aboutus-section {
  padding: 0 2.4rem 5.6rem 2.4rem;
}

.aboutus-first-section {
  padding: 3.2rem 1.6rem;
  margin-bottom: 1.2rem;

  border-radius: 8px;
  background: rgba(242, 242, 242, 0.69);
  backdrop-filter: blur(5.65px);
}

.aboutus-headline-container {
  width: 11.2rem;
  height: 4.2rem;
}

.aboutus-tagline-container {
  display: flex;
  flex-direction: column;
}

.aboutus-tagline-container span {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  color: #0d0d0d;
  font-size: 4.8rem;
  letter-spacing: -2px;

  padding-bottom: 0.8rem;
}

.aboutus-first-txt,
.aboutus-second-txt {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
}

.btn-about {
  width: 12rem;
  margin-top: 2.4rem;
}

.about-txt-btn {
  font-size: 1.2rem;
  padding-right: 0.8rem;
}

.img-about-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  grid-template-rows: 24rem 12.8rem;

  margin-bottom: 1.6rem;
}

.img-about-container {
  height: 100%;
  overflow: hidden;
  border-radius: 0.8rem;
}

.img-about {
  object-fit: cover;
  border-radius: 0.8rem;
  position: relative;
  overflow-y: hidden;
}

.img-about-first {
  height: 120%;
  width: 150%;
  bottom: 4.8rem;
  left: -5.6rem;
}

.img-about-last,
.img-about-second {
  height: 100%;
  width: 100%;
}

.img-about-container-last {
  grid-column: 1/-1;
}

.aboutus-second-txt-container {
  padding-bottom: 1.6rem;
}

.aboutus-second-txt {
  font-size: 1.6rem;
}

.about-lists-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.about-list-container {
  border-radius: 8px;
  background: #f2f2f2;

  display: grid;
  grid-template-columns: 5.6rem 1fr;
  column-gap: 2rem;

  height: 10rem;
  padding: 3.2rem 3.6rem;
  /* justify-content: center;
  align-items: center;
  flex-shrink: 0; */
}

.contact-list-icon {
  height: 4rem;
  align-self: center;
  justify-self: center;
}

.contact-list-txt {
  align-self: center;
}

/******** Our Products Section *************/

.products-section {
  padding: 0 2.4rem 5.6rem 2.4rem;
}

.products-headline-container {
  width: 13.6rem;
  height: 4.2rem;
  margin-bottom: 2.4rem;
}

.products-category-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.6rem;
}

.each-products-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.4rem 0;

  display: grid;
  grid-template-columns: 11.2rem 1fr;
  column-gap: 3.2rem;
}

.product-img-container {
  height: 11.2rem;
  width: 11.2rem;
  border-radius: 0.8rem;
}

.product-img {
  width: 100%;
  border-radius: 0.8rem;
}

.product-txt-container {
  align-self: center;
}

.product-txt-en {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.4rem; /* 120% */
}

.product-txt-th {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

.our-products-btn {
  width: 100%;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}
